
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  background-color: #FBFBFB;
  font-family: 'Archivo', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #FBFBFB;
    font-family: 'Archivo', sans-serif;
  }
}

body {
 background-color: #FBFBFB;
 font-family: 'Archivo', sans-serif;
 color:#FFFFFF;
}

.fa-2x:hover{
  color: #FFD700 !important;
}



/* Efecto cursor*/
.custom-cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  background-color: #4CB5F5;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  /*mix-blend-mode: difference;  Opcional: agrega un efecto de mezcla de modos */
  opacity: 90%;
}

.Title{
  letter-spacing: -2px;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-out {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}